# Игнорировать каталог node_modules
node_modules/

# Игнорировать файлы .log
*.log

# Игнорировать каталог .cache в корневой директории
/.cache

# Игнорировать файлы .env
.env

# Игнорировать файлы с расширением .DS_Store
.DS_Store

# Игнорировать файлы с расширением .lock
*.lock

# Игнорировать файлы с расширением .pid
*.pid

# Игнорировать файлы с расширением .seed
*.seed

# Игнорировать файлы с расширением .pid.lock
*.pid.lock

# Игнорировать все log-файлы и временные файлы
*.swp
*.swo
*.tmp
*.temp

# Игнорировать каталог dist
dist/
